/* ======== carousel text ======== */

.carousel-inner {
    position: relative;
}

.carousel-inner > .carousel-item .text-carousel-1 {
    position: absolute;
    top: 100px;
    right: 150px;
}

.carousel-inner > .carousel-item .text-carousel-1 h2 span {
    color: #1bd172;
}

.carousel-inner > .carousel-item .text-carousel-1 p {
    margin-top: -10px;
}

.carousel-inner {
    position: relative;
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

    .carousel-inner > .carousel-item .text-carousel-1 {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product h2 p {
        font-size: 16px;
    }

}

@media screen and (min-width: 701px) and (max-width: 959px) {

    .carousel-inner {
        position: relative;
    }

    .carousel-inner > .carousel-item .text-carousel-1 {
        position: absolute;
        top: 40px;
        right: 0px;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product {
        position: absolute;
        width: 250px;
        top: 0;
        right: -70px;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product h2 {
        font-size: 15pt;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product h2 p {
        font-size: 12px;
    }

   
}

@media screen and (max-width: 700px) {

    .carousel-inner > .carousel-item .text-carousel-1 {
        position: absolute;
        top: 20px;
        right: 0px;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product {
        position: absolute;
        width: 250px;
        top: -10px;
        right: -120px;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product h2 {
        font-size: 10pt;
    }

    .carousel-inner > .carousel-item .text-carousel-1 .title-name-product h2 p {
        font-size: 10px;
    }


}


/* ======== controladores do carousel ======== */

.control-slides {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 170px;
    left: -10px;
    background-color: rgba(89, 136, 201, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.control-style-1 {
   position: absolute;
   top: 10px;
   left: 10px;
}

.control-slides-2 {
    background-color: rgba(89, 136, 201, 0.6);
    height: 40px;
    width: 40px;
    position: absolute;
    top: 170px;
    right: -10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.control-style-2 {
    position: absolute;
    top: 10px;
    left: 10px;
 }

 .control-slides:hover {
    background-color: #5a88ca;
 }

 .control-slides-2:hover {
    background-color: #5a88ca;
 }

 @media screen and (min-width: 960px) and (max-width: 1200px) {

    .control-slides, .control-slides-2 {
        top: 50%;
    }

 }

 @media screen and (min-width: 701px) and (max-width: 959px) {

    .control-slides, .control-slides-2 {
        top: 40%;
    }

 }

 @media screen and (max-width: 700px) {

    .control-slides {
        left: 14px;
    }

    .control-slides-2 {
        right: 14px;
    }

    .control-slides, .control-slides-2 {
        top: 40%;
    }

 }


