/* =========== área do aside =========== */

.aside-left {
    width: 100%;
}

.aside-left h2 {
    color: #fead53;
    text-transform: uppercase;
    font-size: 20pt;
}

.form-search input[type=search] {
    width: 73%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    outline: none;
}

.form-search input[type=button] {
    background-color: #5a88ca;
    padding: 6px 10px;
    border: none;
    color: #fff;
}

.form-search input[type=button]:hover {
    background-color: #000;
}

::-webkit-input-placeholder {
    color: #b4afaf;
}

::-ms-input-placeholder {
    color: #b4afaf;
}

.box-propaganda img {
    width: 23%;
}

.produtos-recentes a {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* =========== área do content-main =========== */

/* área da tabela */

.content-table {
    width: 100%;
}

.content-table .table-produtos {
    border: 1px solid #007bff;
    border-spacing: 0;
    width: 100%;
}

.content-table .table-produtos td {
    padding: 10px;
    border: 1px solid #007bff;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.table-produtos tr td .btn-table-main {
    padding: 2px 3px;
    background-color: #5a88ca;
    color: #fff;
    border: none;
    border-radius: 7px;
}

.table-produtos tr td .btn-table-main:hover {
    background-color: #000;
}

.table tbody tr .area-table-interal {
    padding-top: 30px;
}

.table tbody tr .area-table-interal-text {
    padding-top: 31px;
}

.content-table .table-produtos img {
    width: 90px;
    height: 60px;
}

/* form finalizar compra */

.finalizar-compra-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.finalizar-compra-area label {
    font-weight: bold;
}

.finalizar-compra-area input[type=text] {
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5px;
}

.finalizar-compra-area input[type=button] {
    padding: 5px 10px;
    background-color: #5a88ca;
    color: #fff;
    border: none;
}

.finalizar-compra-area input[type=button]:hover {
    background-color: #000;
}

/* =========== totais do carrinho =========== */

.totais-carrinho {
    width: 100%;
}

.totais-carrinho .total-carrinho-table {
    border: 1px solid #007bff;
    border-spacing: 0;
}

.totais-carrinho .total-carrinho-table td {
    border: 1px solid #007bff;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

.totais-carrinho .total-carrinho-table .td-left {
    background-color: #f6f4f4;
    color: #007bff;
}

.font-size-area-cart {
    font-size: 15px;
    width: 160px;
}

.totais-carrinho h4 {
    cursor: pointer;
    color: #007bff;
    text-transform: uppercase;
}

.totais-carrinho h4:hover {
    color: #0ad185;
    text-decoration: underline;
}

.totais-carrinho select {
    cursor: pointer;
}

.totais-carrinho .totais-carrinho-box {
    width: 200px;
}

.totais-carrinho .box-subtotal {
    width: 270px;
}

@media screen and (min-width: 759px) and (max-width: 1024px) {
    main {
        flex-direction: column;
    }
    .aside-left {
        order: 2;
        margin-top: 10%;
    }
    .aside-left .aside-left-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   
    .cart-content-container .content-table {
        order: 1;
    }
    .cart-content-container .content-table .finalizar-compra-area {
        justify-content: start;
    }
}

@media screen and (min-width: 320px) and (max-width: 760px) {

    main {
        flex-direction: column;
    }

    .aside-left {
        order: 2;
        margin-top: 10%;
    }
    
     /* área da tabela */

    .cart-content-container {
        flex-direction: column;
        width: 100%;
    }
    .cart-content-container .content-table {
        order: 1;
        margin-top: -10px;
    }
    .cart-content-container .content-table .table-produtos tr td {
        font-size: 11px;
    }
    .cart-content-container .content-table .table-produtos tr td img {
        width: 100%;
    }

    /* totais do carrinho */

    .totais-carrinho {
        position: relative;
    }

    .totais-carrinho .totais-carrinho-container .totais-box {
        order: 2;
        width: 100%;
        justify-content: space-between;
        padding-left: 30px;
        margin: 10% 0;
    }
    .totais-carrinho .totais-carrinho-container .box-subtotal {
        order: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
        border-bottom: 1px solid #007bff;
        padding-bottom: 20px;
    }
    .totais-carrinho .totais-carrinho-container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0 30px;
    }

    .totais-carrinho .title-toais-box {
        position: absolute;
        bottom: 330px;
    }
}