/* =================== checkout-info =================== */
.checkout-container {
    width: 100%;
}

.checkout-info {
    display: flex;
    flex-direction: column;
}

.checkout-info .checkout-info-box {
    background-color: #f4f4f4;
    margin-top: 15px;
    padding: 7px;
    height: 50px;
    line-height: 37px;
}

.checkout-info .checkout-info-box:first-child {
    margin-top: 0;
}

/* =================== detalhes do pedido =================== */

.detalhes-pedido .detalhes-pedido-table {
    border: 1px solid #ddd;
}

.detalhes-pedido .detalhes-pedido-table td{
    border: 1px solid #ddd;
    padding: 10px;
    color: #333232;
    font-weight: 500;
}

.bg-color-table {
    background-color: #f4f4f4;
}

@media screen and (max-width: 767px) {

    .main-content {
        flex-direction: column;
    }

    .checkout-container {
        margin-top: 6%;
    }

    .checkout-container .checkout-info .checkout-info-box {
       font-size: 14px;
    }

    .forma-pagamento img {
        width: 100%;
    }

    .area-title .h1-title {
        font-size: 2em;
    }
}