/* ================ contaiter img ================ */
body {
    overflow-x: hidden;
}

.single-product-container {
    width: 100%;
}

.single-product-container .product-image .product-image-main img {
    width: 50%;
}

.single-product-container .product-image {
    width: 100%;
}

.single-product-container .product-image .product-image-galery {
    margin-top: 20px;
    width: 60%;
}

.single-product-container .product-image .product-image-galery:last-child {
    margin-right: 0;
}

.single-product-container .product-image .product-image-galery img {
    width: 34%;
    margin: 0px 10px 0px 0px;
    border: 1px solid #b8b3b3;
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

/* ================ descrição do produto área ================ */

.description-product-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.add-cart input[type=button] {
    background-color: #5a88ca;
    padding: 6px 10px;
    border: none;
    color: #fff;
}

.add-cart input[type=button]:hover {
    background-color: #000;
}

.description-product-container .add-cart input[type=number] {
    padding: 4px 4px;
}

/* aside área */
#aside-left {
    height: 20%;
}

#aside-left .form-search input[type=button]{
    background-color: #5a88ca;
    padding: 6px 10px;
    border: none;
    color: #fff;
    margin-top: 15px;
}

#aside-left .form-search input[type=button]:hover {
    background-color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* contaiter img */
    .single-product-container {
        margin: 0 auto;
        margin-top: 80px;
    }
    .single-product-container .product-image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .single-product-container .product-image .product-image-main img {
        width: 100%;
    }
    .single-product-container .product-image .product-image-galery img {
        width: 20%;
        margin: 0 auto;
    }
    #aside-left {
        margin-top: -2%;
    }
    /* descrição dos produtos área */
    .description-product-container {
        width: 40%;
        margin: 20px auto;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    /* área search */
    main {
        position: relative;
    }
   
    #area-search {
        position: absolute;
        top: -30px;
    }
    /*nav-pills*/

    #pills-profile form .pills-box div .label-mail {
        padding-left: 15px;
    }

    #pills-profile form {
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    
    #pills-profile form .pills-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    
    }

    #pills-profile form .pills-box input {
        font-size: 13px;
    }

    #pills-profile form .pills-box #cMail {
        width: 100%;
        margin-left: 15px;
    }

    #pills-profile form .pills-box-ranking {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

@media screen and (max-width: 767px) {

    main {
        display: flex;
        flex-wrap: wrap;
        position: relative;

    }

    /* área search */
    #area-search {
        position: absolute;
        top: -30px;
    }

    .form-search input[type=search] {
        width: 240px;
    }

    /* aside */
    .aside-left-container .box-propaganda {
        width: 100vw;
    }

    .aside-left {
        order: 3;
        margin: -20px 0 30px 0;
    }

    .description-product-container {
        order: 2;
        margin-top: 20px;
        width: 100%;
    }

    .aside-left-container .box-propaganda {
        width: 100%;
    }

    /* produto a mostra */
    .single-product-container {
        order: 1;
        padding-top: 45%;
        width: 100%;
    }

   
     /*nav-pills*/

    .pills-box  {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #pills-home p {
        width: 80vw;
        margin-left: -20px;
    }

     #pills-profile form {
        width: 100%;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    #pills-profile form .pills-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    
    }

    #pills-profile form .pills-box input {
        font-size: 13px;
    }

    .area-title .h1-title {
        font-size: 25px;
    }
}

/* ================ produtos relacionados ================ */

#produtos-relacionados h5 {
    font-size: 14px;
}

#produtos-relacionados .btn-container {
    width: 100%;
}

#produtos-relacionados .btn-container button {
    font-size: 10px;
}

@media screen and (max-width: 800px) {
    #produtos-relacionados {
        padding-bottom: 10%;
    }

    #produtos-relacionados .produtos-recomendados-carousel .item h5 {
        font-size: 20px;
        width: 100vw;
    }

    #produtos-relacionados .produtos-recomendados-carousel .item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* ================ controladores do input number ================ */

button {
    width: 30px;
    padding: 5;
    background-color: #5a88ca;
    color: #fff;
}

button:hover {
    background-color: #000;
}