.description-product-container {

    padding: 6% 0 5% 0;

    .qtd-produto {
        border: none;
        border: 1px solid #888;
        padding: 3px;
        outline: none;
    }

    .add-car-input {
        background-color: #5a88ca;
        padding: 6px 10px;
        border: none;
        color: #fff;
    }
}