@import "../global-style";

.header-main {
  position: relative;

  .header-container {
    .logo-ustora {
      padding-bottom: 20px;
    }
    .area-cart {
      width: 200px;
      border: 1px solid #ddd;
      padding: 10px;
      position: relative;
      cursor: pointer;

      a {
        text-decoration: underline;
        color: #439943;
        font-size: 16px;
      }

      span {
        color: #5a88ca;
      }

      img {
        margin-left: 10px;
      }
    }
    .circle {
      background-color: #5a88ca;
      color: #fff;
      font-size: 13px;
      position: absolute;
      width: 30px;
      height: 30px;
      right: -16px;
      top: -20px;
      @include border-radius-global(50%);

      p {
        text-align: center;
        line-height: 30px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .header-container {
      margin: 0 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .header-container {
      .logo-ustora {
        img {
          width: 90px;
        }
      }
      .area-cart {
        img {
          width: 20%;
        }
        .cart-title {
          width: 100px;
          text-align: center;

          .card-link {
            font-size: 11px;
          }
        }
      }
      .circle {
        top: -10px;
        right: -10px;
      }
    }
  }
}
